#payment-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;

    &.delivery {
        .pay-panel{
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
        } 
        .content {
            overflow: hidden;
        }
        * {
            transition: 300ms;
        }
        .pay-panel {
            max-width: 860px;
        }

        .actions {
            display: flex;
            justify-content: space-between;
        }

        label, input, select {
            color: #666;
            line-height: 20px;
        }
        select {
            height: 40px;
        }
        .form-group {
            padding-bottom: 7px;

            input[type="radio"] {
                position: absolute;
            }

            &.checkbox {
                input {
                    margin-left: 0;
                    box-shadow: none;
                    margin-top: 0;
                }
                label {
                    line-height: 40px;
                    width: auto;
                    max-width: 100%;
                    padding-left: 40px;
                }

                small {
                    color: #999;
                    line-height: 40px;
                    padding-left: 20px;
                    font-style: italic;
                }
            }

            label {
                position: static;
            }
        }

        .tab-content {
            margin-top: 30px;
            transition: 200ms;

            &.loading {
                transform: scale(0.95);
                opacity: 0.6;
            }
            &.transition {
                animation-name: delivery-modal-transition;
                animation-duration: 600ms;
            }
        }

        .tab-bar {
            display: flex; 
            position: relative;
            height: 40px;
            border-bottom: 2px solid #EAEAEA;
            .sub-bar {
                transition: 200ms;
                display: block;
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 80px;
                background-color: #333;
                height: 2px;
            }

            h4 {
                line-height: 40px;
                margin-right: 30px;

                &.active {
                    color: #333;
                }
            }
        }

        h4 {
            margin: 0;
            transition: 300ms;

            &.open {
                border-bottom: 0;
            }
        }
    }

    .delivery-address, .invoice-address, .payment-method {
        h4 {
            cursor: pointer;
            line-height: 40px;
            border-bottom: 1px solid #F0F0F0;
        }
        .form  {
            display: block;
            transform-origin: top center;
            height: 0;
            opacity: 0;
            transform: scale(1, 0);
            transition: 300ms;

            &.show {
                display: block;
                height: auto;
                opacity: 1;
                transform: scale(1, 1);
            }
        }
    }
}

@keyframes delivery-modal-transition {
    49% {
        transform: translateX(-150%);
        opacity: 0;
    }
    51% {
        transform: translateX(150%);
        opacity: 0;
    }
    100% {
        transform: translateX(150%);
        opacity: 0.6;
    }
}

#payment-overlay .pay-panel {
    width: 100%;
    min-height: 200px;
    max-width: 660px;
    background-color: #FFF;
    transition: 500ms;
    transition-timing-function: ease-out;
    position: relative;

    -webkit-transform: translateY(-500px) scale(0.5, 0.5);
            transform: translateY(-500px) scale(0.5, 0.5);

    &.show {
        -webkit-transform: translateY(0) scale(1, 1);
                transform: translateY(0) scale(1, 1);
    }

    .content {
        padding: 50px;
        z-index: 1000;
        position: relative;
        background-color: white;

        h4 {
            color: #808080;
            font-size: 17px;
            font-weight: normal;
        }
        h2 {
            margin-top: 5px;
            font-size: 24px;
            color: #404040;
            font-weight: bold;
        }
    }

    .close  {
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-left: -15px;
        background-color: #FFF;
        opacity: 1;

        &:hover:before {
            opacity: .8;
            -webkit-transform:rotate(90deg);
                    transform:rotate(90deg);
        }
        &:before {
            content: '';
            background-image:url("../../../../modules/forge-payment/assets/icons/ic_close_black.svg");
            background-size: 100%;
            width: 20px;
            height: 20px;
            position: absolute;
            opacity: 0.3;
            transition: 300ms;
            left: 50%;
            margin-left: -10px;
            top: 50%;
            margin-top: -10px;
        }
    }
}

body.payment-panel-open {
    header, footer, div.wrapped, > div:not(#payment-overlay) {
        transition: 300ms;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}
.payment-panel-open {
    .loading {
        color: rgba(0, 0, 0, 0);

        &.stopload {
            &:before {
                opacity: 0;
            }
        }

        &:before {
            transition: 300ms;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -9px;
            margin-left: -9px;
            content: ' ';
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: 0.16rem solid rgba(0, 0, 0, 0.5);
            border-top-color: white;
            -webkit-animation: loadspin 0.5s infinite linear;
                    animation: loadspin 0.5s infinite linear;
        }
    }
}

#payment-overlay .pay-panel .content .adapters,
.adapters {
    margin-top: 20px;
    a.adapter, div.adapter {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        border: 1px solid #f0f0f0;
        padding: 15px 30px;  
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        margin: 10px 0;

        > div {
            flex-basis: 100%;
        }
        > div.image {
            flex-basis: 30%;
        }

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        h4 {
            display: block;
            line-height: 20px;
            color: #4c4c4c;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
        }

        small {
            color: #666;
        }

        .image {
            img {
                width: 60%;
                float: right;
            }
        }
    }
}

.default#orderTables {
    width: 100%;
    td, th {
        height: 30px;
        vertical-align: middle;
        padding: 10px;
    }
    th {
        background-color: rgba(255, 255, 255, 0.05);
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
    }
}

@-webkit-keyframes loadspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loadspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}